body {
    background: url("../img/background.jpg") no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}


/*** NAVBAR GENERAL ***/
.navbar {
    border: solid 0;
}

#finder {
    font-weight: bold;
}

.navbar-inverse .navbar-header>a>i ,
#finder,
.navbar-inverse .navbar-nav>li>a {
    color: #0f0f0f;
}


/*** NAVBAR ECRAN GRAND ***/
@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
        max-height: 30px;
        min-height: 30px;
        height: 30px;
        font-size: 16px;
        line-height: 28px;
        box-shadow: 0 4px 10px 0 #2E2E2E;
        background-image:linear-gradient(#d5d5d5, #888);
    }
    .text-navbar-brand {margin-left: 5px; }
    .navbar-brand {line-height: 0; font-size: 16px; padding: 3px 15px;}
    .navbar .navbar-nav > li > a {  padding-top: 0; padding-bottom: 0; line-height: 28px;margin-top: 0;}
    .navbar .fa-apple {
        font-size: 22px;
    }
    .navbar #finder {
        font-size: 18px;
        padding-top: 3px;
    }
}


/*** NAVBAR ECRAN PETIT ***/
@media (max-width: 767px) {
    .navbar {
        border-radius: 0;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        text-align: center;;
        position: fixed;
        top: 0;
        left: 0;
        max-width: 30px;
        height: 100%;
        box-shadow: 3px 0 5px 0 #2E2E2E;
        background-image: linear-gradient(to right, #d5d5d5, #888);
        font-size: 16px;
    }
    .navbar .navbar-nav > li:first-child > a {
        position : absolute;
        top: 5px;
        left: -5px;
    }
    .navbar .navbar-nav > li:nth-child(2) > a {
        position : absolute;
        top: 45px;
        left: -10px;
    }
    .navbar .navbar-nav > li:nth-child(3) > a {
        position : absolute;
        top: 85px;
        left: -7px;
    }
    .navbar .navbar-nav > li:nth-child(4) > a {
        position : absolute;
        top: 125px;
        left: -10px;
    }
    .navbar .navbar-nav > li:nth-child(5) > a {
        position : absolute;
        top: 165px;
        left: -14px;
        font-size: 12px;
    }
    .navbar .navbar-nav > li:nth-child(6) > a {
        position : absolute;
        top: 245px;
        left: -7px;
    }
    .navbar .navbar-nav > li:nth-child(7) > a {
        position : absolute;
        top: 285px;
        left: -7px;
    }

    #date {
        text-align: center;
        padding-left: -20px;
        padding-right: 5px;
        width: 40px;
    }
    .navbar .fa-apple {
        position: absolute;
        top: 5px;
        left : 6px;
        font-size: 22px;
    }
}


/*** DOCKER APP ***/
#docker {
    position:fixed;
    bottom: 0;
}

#icons {
    list-style-type: none;
    font-size: 48px;
    margin:0;
}

#icons li {
    margin: 0 0.2em 0 0.2em;
    display: inline;
}

#icons li img {
    width: 60px;
    margin-left: 10px;
    text-decoration: none;
    -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
    transition: all 1s;
    -webkit-box-reflect: below 0 linear-gradient(transparent 50%, rgba(0,0,0,.3));
}

#icons li img:hover {
    width: 90px;
}

/*** WIDGET ***/

.panel {
    width: 300px;
}
.panel-heading {
    display: inline-block;
    width: 100%;
    padding: 0;
    padding-left: 5px;
    height: 25px;
    background-image:linear-gradient(#d5d5d5, #888);

}
.panel-heading .logo {
    width: 20px;
    margin-right: 5px;
    margin-top: 0;
}
.title {
    text-align: center;
    font-weight: bold;
    line-height: 0;
    margin-left: 0;
}

.panel-heading .buttons {
    margin-right: 0;
}

.panel-heading .buttons img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

/* STYLE HORLOGE */
html #MeteoWid{
    font-family: 'Open Sans', Arial, sans-serif;
}
a#MeteoWid {
    text-decoration: none;
    color: #000;
}
div.clock {
    cursor: pointer;
    width: 100%;
    text-align: center;
}
div.clock a {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
div.clock a:hover {
    text-decoration: underline;
}
div.clock div.date {
    color: #777;
    font-size: 1.5em;
    margin: 10px 0;
}
div.clock div.time {
    font-size: 3em;
    font-weight: 200;
}
div.clock div.time span {
    border-radius: 5px; padding: 1px 4px 3px 4px;
    color: #fff; background: #000;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555), to(#000));
    background: -webkit-linear-gradient(top, #555, #000);
    background: -moz-linear-gradient(top, #555, #000);
    background: -ms-linear-gradient(top, #555, #000);
    background: -o-linear-gradient(top, #555, #000);
}
div.clock div.time span:nth-child(3) {
    color: #333; background: #ddd;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ccc));
    background: -webkit-linear-gradient(top, #eee, #ccc);
    background: -moz-linear-gradient(top, #eee, #ccc);
    background: -ms-linear-gradient(top, #eee, #ccc);
    background: -o-linear-gradient(top, #eee, #ccc);
}
div.clock div.time strong { font-weight: 100;
    font-size: 0.8em;
    margin-left: 5px;
    color: #666;
}

/* STYLE METEO */
#contentMeteo {
    text-align: center;
}
#contentMeteo h2 {
    font-size: 48px;
}
#contentMeteo h3 {
    color : #333333;
}
#contentMeteo img {
    width: 100px;
}

/* STYLE SPORT */
@media (min-width: 768px) {
    #aPropos {
        color: black;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 5px;
        width: 300px;
        height: 225px;
        position: absolute;
        left: -2px;
        top:30px;
    }
}

@media (max-width: 767px) {
    #aPropos {
        color: black;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 5px;
        width: 300px;
        height: 225px;
        position: absolute;
        left: 30px;
        top:0px;
    }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}